﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="testSourceTree.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <p>MSSV: 1212387</p>
        <p>Họ và tên: Nguyễn Trần Phước Thọ</p>
        <p>Email: 1212387@student.hcmus.edu.vn</p>
        <p>Ảnh đại diện: </p>
        <img src="author.png" style="width:50px; height:50px; text-align:center;"/>
    </div>
    </form>
</body>
</html>
